

.seat-layout{
    padding:20px;
}

.seat-box{
    width:60px;
    height:60px;
    border:1px solid #333;
    border-radius:8px;

    display:flex;
    justify-content:center;
    align-items:center;

    margin-right:8px;

    background:#f5f5f5;
    font-weight:bold;

    cursor:pointer;
    transition:0.2s;
}

.seat-box:hover{
    background:#00c16a;
    color:white;
}
.showtime-wrapper{
    width: fit-content;
}

.showtime-wrapper h4,
.showtime-wrapper h5{
    color: #fff;
}
.screen-arc {
    width: 1000px;
    margin: 0 auto;
}

.screen-arc svg {
    width: 100%;
    overflow: visible;
}

.screen-arc path {
    fill: none;
    stroke: white;
    stroke-width: 4;
    filter: drop-shadow(0 0 10px rgba(255,255,255,.8));
}
