# Environment
.env
.env.backup
.env.production

# Dependencies
/vendor/
/node_modules/

# Build files
/public/build
/public/hot

# Storage
/public/storage
/storage/*.key
/storage/pail

# IDEs
/.idea
/.vscode
/.fleet
/.zed
/.nova

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log
yarn-error.log

# PHPUnit
.phpunit.result.cache
/.phpunit.cache

# Auth
auth.json

# Homestead
Homestead.yaml
Homestead.json
/.vagrant

# Legacy Laravel
bootstrap/compiled.php
app/storage/

# Misc
.phpactor.json